# List required packages in this file, one per line.
# for the package
oauth2client
google-api-python-client
earthengine-api
Cython>=0.15
cartopy

# for readthedocs
sphinx>=1.4
ipykernel
nbsphinx
sphinxcontrib-napoleon
