# List required packages in this file, one per line.
# for the package
setuptools
Cython
oauth2client
google-api-python-client
earthengine-api
cartopy

# for readthedocs
sphinx>=1.4
ipykernel
nbsphinx
sphinxcontrib-napoleon
